{% extends "base.html" %}
{% load static %}
{% block extraheader %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
    $(document).ready(function() {

        $( "#sortable" ).sortable();

        $.ajaxSetup({ 
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            } 
        });

    })
</script>
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}     

<div class="container-fluid py-0" style="height:100%">

{% if document_list %}
    <ul id="sortable" class="list-unstyled">
    {% for document in document_list %}
        <li>
            <div class="pb-3 mb-1 border bg-primary text-light rounded">
                <span class="ml-3">{{document.title}}</span>
                <div class="float-right mr-2">
                    <a href="editDetail/{{ document.id }}/">
                        <img src={%static "edit.svg"%}></img>
                    </a>
                </div>
                <div class="float-right mr-2">
                    <a href="deleteDocument/{{ document.id }}/">
                        <img src={%static "trash.svg"%}></img>
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <div class="float-right mr-4">
        <a class="btn btn-success text-center" href="edit/">Create Note</a>
    </div>
    <div class="float-right mr-4">
        {% comment %} <a id="genDocLink" class="btn btn-secondary text-center" href="/Portal/generateDoc/">Generate Word Document</a> {% endcomment %}
        <form action="/Portal/genDoc/" method="POST">
            {% csrf_token %}
            <button id="genDocBtn" class="btn btn-secondary text-center" type="submit">Generate Word Document</button>
        </form>
    </div>
    <div class="float-right mr-4">
        {% comment %} <a class="btn btn-secondary text-center" href="/Portal/generateTex/" onclick="alert(comming soon!">Generate Latex Code</a> {% endcomment %}
        <button class="btn btn-secondary text-center" onclick="alert('comming soon!')">Generate Latex Code</button>
    </div>
{% else %}
    <div class="d-flex justify-content-center">
        <p class="font-weight-light mt-3">No notes are available.</p>
    </div>

    <div class="d-flex justify-content-center">
        <a class="btn btn-primary text-center" href="edit/">Create One!</a>
    </div>
    
    {% comment %} <ul >
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
    </ul> {% endcomment %}

    
{% endif %}

</div>
{%endblock%}
